body{
    background: url("../img/dark-bg.jpg") repeat scroll center top transparent;
    background-color: #282828;
    overflow-y: scroll;
}
body.body_iframe{
    background: #F5F5F5;
    margin: 0 5px 0 5px;
    min-width: inherit;
    overflow-y: auto;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

#logo {
    background-image: url("/bootstrap/img/asus_logo.png");
    width: 150px;
    height: 71px;
    margin-top: 40px;
}
#logo:hover {
    cursor: pointer;
}

#cpu_info, #mem_info, .adv_info {
    text-decoration: none;
    border-bottom: 1px dotted #005580;
}
#cpu_info:hover, #mem_info:hover, .adv_info:hover {
    cursor: pointer;
    text-decoration: none;
}

#footer{color: #F5F5F5}

.form_thin{margin-bottom: 0px}

.round_all {
    border-radius: 3px 3px 3px 3px;
}
.round_top {
    border-radius: 3px 3px 0 0;
}
.round_bottom {
    border-radius: 0 0 3px 3px;
}
.round_left {
    border-radius: 3px 0 0 3px;
}
.round_right {
    border-radius: 0 3px 3px 0;
}

.popup_bg {
    position:absolute;
    margin: auto;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:99;
    visibility:hidden;
    overflow:hidden;
    background: url("/bootstrap/img/loading_bg.png") repeat scroll 50% 50% #AAAAAA;
    opacity: 0.95;
}

.popup_bar_bg {
    position:absolute;
    margin: auto;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:99;
    visibility:hidden;
    overflow:hidden;
}

.loadingBlock {
    font-size:20px;
    color:#FFFFFF;
    opacity: 1;
}

.side_nav ul {
    list-style: none outside none;
    margin: 0;
}
.side_nav ul ul li, .side_nav ul ul ul {
    list-style: none outside none;
    margin: 0;
    width: 160px;
}
.side_nav ul li {
    float: left;
    position: relative;
    width: 100%;
}
.side_nav > ul > li ul, .side_nav > ul > li ul ul, .side_nav > ul > li ul ul ul {
    display: none;
    left: 100%;
    margin-top: 1px;
    position: absolute;
    top: 0;
    z-index: 9999;
}
.side_nav > ul > li > ul {
    margin-top: 0;
}
.side_nav > ul > li > ul > li:first-child > ul {
    margin-top: -1px;
}
.side_nav ul li ul li ul {
    margin-top: 0;
}
.side_nav ul ul.slide_left, .side_nav ul ul ul.slide_left, .side_nav ul ul ul ul.slide_left {
    left: auto;
    right: 100%;
    top: 0;
}
.side_nav ul a {
    display: block;
    font: bold 12px/30px sans-serif;
    padding: 0 10px;
    text-decoration: none;
    /*white-space: nowrap;*/
}
.side_nav ul a img {
    margin: 5px 5px -12px -3px;
    position: relative;
    top: -2px;
}
.side_nav ul ul {
    z-index: 3;
}
.side_nav ul ul ul {
    z-index: 4;
}
.side_nav ul ul ul ul {
    z-index: 5;
}
.side_nav ul ul ul ul ul {
    z-index: 6;
}
.side_nav ul ul ul ul ul ul {
    z-index: 7;
}
.side_nav ul ul ul ul ul ul ul {
    z-index: 7;
}
.side_nav ul li:hover ul ul, .side_nav ul li:hover ul ul ul, .side_nav ul li:hover ul ul ul ul, .side_nav ul li.iehover ul ul, .side_nav ul li.iehover ul ul ul, .side_nav ul li.iehover ul ul ul ul {
    display: none;
}
.side_nav ul li:hover ul, .side_nav ul ul li:hover ul, .side_nav ul ul ul li:hover ul, .side_nav ul ul ul ul li:hover ul, .side_nav ul li.iehover ul, .side_nav ul ul li.iehover ul, .side_nav ul ul ul li.iehover ul, .side_nav ul ul ul ul li.iehover ul {
    display: block;
}
.side_nav ul li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.side_nav ul li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.side_nav div.accordion {
    margin-bottom: 0;
}
.side_nav ul a img {
    margin: 5px 5px -12px -3px;
    position: relative;
    top: -6px;
}

ul#icons li {
    cursor: pointer;
    float: left;
    list-style: none outside none;
    margin: 2px;
    padding: 4px 0;
    position: relative;
}
ul#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.bar_nav ul, .side_nav ul {
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
}
.bar_nav ul ul, .side_nav ul ul {
    border: 1px solid #666666;
}
.bar_nav ul li a, .side_nav ul li a {
    text-shadow: 0 1px 0 #FFFFFF;
}
.bar_nav ul li:hover > a, .side_nav ul li:hover > a {
    color: #FFFFFF;
    text-shadow: none;
}
.bar_nav > ul > li > a {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #DDDDDD;
}
.bar_nav > ul > li.send_right > a {
    border-left: 1px solid #FFFFFF;
    border-right: medium none;
}
.bar_nav > ul > li.send_right:hover > a {
    border-right: medium none;
}
.bar_nav > ul > li:hover > a {
    border-color: transparent #666666 #888B90;
    border-style: solid;
    border-width: 1px;
    display: block;
}
.bar_nav > ul > li:first-child > a {
    border-left: medium none;
}
.bar_nav > ul > li:last-child > a {
    border-right: medium none;
}
.bar_nav ul li a, .side_nav ul li a {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #FFFFFF;
}
.bar_nav ul li.active:last-child > a, .side_nav ul li.active:last-child > a {
    border-radius: 0 0 0 0;
}
li:last-child > div.accordion > a:last-child {
    border-bottom: medium none;
}
.bar_nav ul li ul li:last-child > a:hover, .side_nav ul li ul li:last-child > a:hover {
    border-bottom: 1px solid #888B90;
}
.bar_nav ul li ul li:first-child > a, .side_nav ul li ul li:first-child > a {
    border-top: 0 solid transparent;
}
.bar_nav ul li ul li:first-child:hover > a, .side_nav ul li ul li:first-child:hover > a {
    border-top: 0 solid #999999;
}
.bar_nav ul ul li:hover > a, .side_nav ul li:hover > a {
    border-bottom: 1px solid #888B90;
    border-top: 1px solid #888888;
    cursor: pointer;
}
.bar_nav > ul > li > ul li:first-child > a, .side_nav > ul li:first-child > a {
}
.bar_nav ul li:last-child ul a {
    margin-bottom: 0;
}

.clearfix li.active a {
    border-radius: 0 0 0 0;
    cursor: default;
}

.clearfix li.active > a {
    border-bottom: 1px solid #666666;
    border-top: 1px solid #888888;
    color: #FFFFFF;
    text-shadow: none !important;
}

.clearfix li div.accordion {
    border-top: 0 solid #FFFFFF;
    color: #666666;
}

.clearfix li div.accordion a:hover {
    font-weight: bold;
}

li div.accordion a {
    background: none repeat scroll 0 0 #F5F5F5;
    padding-left: 13%;
    font-weight: normal;
}

.grad_grey, .bar_nav ul a, .side_nav ul a, .bar_nav ul, .side_nav ul, .drop_box {
    background: #ffffff; /* old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ededed)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); /* ie */
    background: -o-linear-gradient(top, #ffffff 0%, #ededed 99%);
    background: linear-gradient(top, #ffffff 0%, #ededed 99%);
    background: -ms-linear-gradient(top, #ffffff 0%, #ededed 99%);
}
.grad_grey_reverse, .bar_nav ul li:hover > a, .side_nav ul li:hover > a, .side_nav ul li.active > a {
    background: #ddd; /* old browsers */
    background: -moz-linear-gradient(top, #a0a3a8 0%, #888b90 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0a3a8), color-stop(100%, #888b90)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a3a8', endColorstr='#888b90', GradientType=0 ); /* ie */
    background: -o-linear-gradient(top, #a0a3a8 0%, #888b90 100%);
    background: linear-gradient(top, #a0a3a8 0%, #888b90 100%);
    background: -ms-linear-gradient(top, #a0a3a8 0%, #888b90 100%);
}

.box {
    height: auto;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
}

.box h2.box_head {
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: -1px;
    text-indent: 10px;
}

.box.grad_colour_dark_blue h2.box_head {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:#ffffff;
    margin-bottom: 1px;
}

.big-icons{ background: url("../img/icons/big-icons.png") no-repeat top left;}
.big-icons-globe{ background-position: 0 0; width: 48px; height: 48px; }
.big-icons-laptop{ background-position: 0 -114px; width: 48px; height: 48px; }
.big-icons-router{ background-position: 0 -228px; width: 48px; height: 48px; }
.big-icons-usb{ background-position: 0 -342px; width: 48px; height: 48px; }
.big-icons-usbhdd{ background-position: 0 -456px; width: 48px; height: 48px; }
.big-icons-printer{ background-position: 0 -570px; width: 48px; height: 48px; }
.big-icons-modem{ background-position: 0 -684px; width: 48px; height: 48px; }
.big-icons-hub{ background-position: 0 -798px; width: 48px; height: 48px; }
.big-icons-mmc{ background-position: 0 -912px; width: 48px; height: 48px; }
.big-icons-ata{ background-position: 0 -1026px; width: 48px; height: 48px; }

.big-icons-globe-active{ background-position: 0 -57px; width: 48px; height: 48px; }
.big-icons-laptop-active{ background-position: 0 -171px; width: 48px; height: 48px; }
.big-icons-router-active{ background-position: 0 -285px; width: 48px; height: 48px; }
.big-icons-usb-active{ background-position: 0 -399px; width: 48px; height: 48px; }
.big-icons-usbhdd-active{ background-position: 0 -513px; width: 48px; height: 48px; }
.big-icons-printer-active{ background-position: 0 -627px; width: 48px; height: 48px; }
.big-icons-modem-active{ background-position: 0 -741px; width: 48px; height: 48px; }
.big-icons-hub-active{ background-position: 0 -855px; width: 48px; height: 48px; }
.big-icons-mmc-active{ background-position: 0 -969px; width: 48px; height: 48px; }
.big-icons-ata-active{ background-position: 0 -1083px; width: 48px; height: 48px; }

.padding-top-20{ padding-top: 20px;}

#navigation-1 {
    padding:1px 0;
    margin:0px;
    list-style:none;
    width:50px;
    height:13px;
    font:normal 8pt verdana;
}
#navigation-1 li {
    margin:0;
    padding:0;
    display:block;
    float:left;
    position:relative;
    left:50px;
    width:13px;
}
#navigation-1 li a:link, #navigation-1 li a:visited {
    padding:4px 0;
    display:block;
    text-align:center;
    text-decoration:none;
    color:#FFFFFF;
    width:13px;
    height:13px;
}
#navigation-1 li:hover a, #navigation-1 li a:hover, #navigation-1 li a:active {
    padding:4px 0;
    display:block;
    text-align:center;
    text-decoration:none;
    font-size:10px;
    color:#FFFFFF;
    width:60px;
    height:13px;
    border:1px solid #B7E1F7;
}
#navigation-1 li ul.navigation-2 {
    margin:0;
    padding:1px 1px 0;
    list-style:none;
    display:none;
    width:60px;
    position:absolute;
    top:-112px;
    left:-46px;
}
#navigation-1 li:hover ul.navigation-2 {
    display:block;
}
#navigation-1 li ul.navigation-2 li {
    width:60px;
    clear:left;
}
#navigation-1 li ul.navigation-2 li a:link, #navigation-1 li ul.navigation-2 li a:visited {
    clear:left;
    color:#FFFFFF;
    background:#FFFFFF;
    padding:4px 0;
    width:60px;
    border:1px solid #B7E1F7;
    position:relative;
    z-index:1000;
}
#navigation-1 li ul.navigation-2 li:hover a, #navigation-1 li ul.navigation-2 li a:active, #navigation-1 li ul.navigation-2 li a:hover {
    clear:left;
    background:#FFFFFF;
    padding:4px 0;
    width:60px;
    border:2px solid #B7E1F7;
    position:relative;
    z-index:1000;
}

a.help_tooltip {border-bottom: 1px dotted grey; color: #333;}
a.help_tooltip:hover {text-decoration: none; border-bottom: 1px dotted grey; color: #333;}

#accountMask{
    z-index:10;
    position: absolute;
    margin-left:-1px;
    width: 35%;
    height: 566px;
    background-color:#ccc;
    background: url("/bootstrap/img/loading_bg.png") repeat scroll 50% 50% #ccc;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    opacity: .6;
    -moz-opacity: 0.6;
}

.FileStatus{
    width:180px;
    height:16px;
    line-height:16px;
    overflow:hidden;
    float:right;
}

.machineName{
    background:url(/bootstrap/img/wl_device/3.gif);
    background-repeat:no-repeat;
    background-position: left;
    /*margin-left:2px;*/
    padding-left:23px;
    padding-top:3px;
}

.folderClicked{
    background-color:#ccc;
    cursor:text;
}

.accountName{
    background:url(/images/AiDisk/user_icon0.gif) #F5F5F5;
    background-repeat:no-repeat;
    background-position:left;
    padding-left:20px;
    cursor:pointer;
    overflow:hidden;
}

textarea[readonly] {
    cursor: default;
}

.aidisk_table {
    background: #F5F5F5;
    margin: 0 5px 0 5px;
    width: 370px;
}

.table th, .table td{vertical-align: middle;}
.table input, .table select{margin-bottom: 0px;}

.syslog_panel {
    position: absolute;
    padding: 20px;
    width: 960px;
    background: #f5f5f5;
    font-family: Georgia;
    opacity: 0;
    z-index: 90;

    border: 1px solid #ccc;
    -webkit-border-radius: 4px 4px 0px 4px;
    -moz-border-radius: 4px 4px 0px 4px;
    border-radius: 4px 4px 0px 4px;
}

.syslog_panel div.log_text {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#syslog_panel_button {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    *margin-left: .3em;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    padding: 2px 6px;
    font-size: 11px;
    line-height: 14px;
}
#syslog_panel_button:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    background-image: -ms-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
}

#log_area {
    font-family: 'Courier New', Courier, mono; font-size:13px;
}

#system_time_log_area {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-chevron {
    border-radius: 0px 4px 4px 0px;
}

.ddown-list {
    width: 330px;
    margin-top: 28px;
    position:absolute;
    text-align:left;
    height:auto;
    overflow-y:auto;
    z-index:1000;
    padding:1px;
    display:none;
}

.ddown-list div {
    height:20px;
    line-height:20px;
    text-decoration:none;
    padding-left:2px;
}

.ddown-list a {
    color:#000;
    font-size:12px;
    text-decoration:none;
}

.ddown-list div:hover, .share-list a:hover {
    cursor:default;
    color: #005580;
}

.input-append {
    margin-bottom: 0px;
}

.input-append input {
    border-radius: 3px 0 0 3px;
}

